<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="KuonTools Rule Set" Description="久远工具代码规范检查规则设定" ToolsVersion="1.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1001" Action="Error" /><!--逗号的间距必须正确-->
    <Rule Id="SA1004" Action="Error" /><!--注释内容行必须以空格开头-->
    <Rule Id="SA1003" Action="Error" /><!--等号的间距必须正确-->
    <Rule Id="SA1005" Action="None" /><!--单行注释必须以空格开头-->
    <Rule Id="SA1006" Action="Error" /><!--预处理关键字前不能有空格-->
    <Rule Id="SA1008" Action="Error" /><!--左括号前面不应有空格-->
    <Rule Id="SA1009" Action="Error" /><!--右括号的间距必须正确-->
    <Rule Id="SA1024" Action="Error" /><!--冒号的间距必须正确-->
    <Rule Id="SA1025" Action="Error" /><!--不应包含多个空格-->
    <Rule Id="SA1028" Action="None" /><!--代码不能以除行尾字符以外的任何形式的空格结尾，不能以奇怪的空字符结尾-->
    <Rule Id="SA1101" Action="None" /><!--本地类或基类的实例成员调用必须以"this."为前缀-->
    <Rule Id="SA1106" Action="Error" /><!--代码不应包含空语句-->
    <Rule Id="SA1107" Action="None" /><!--代码不应在一行中包含多个语句-->
    <Rule Id="SA1108" Action="None" /><!--注释不能在代码后面-->
    <Rule Id="SA1111" Action="Error" /><!--右括号必须和最后一个参数在同一行-->
    <Rule Id="SA1116" Action="None" /><!--拆分参数不能在中间-->
    <Rule Id="SA1117" Action="Error" /><!--参数必须在同一行或者每个参数单独一行-->
    <Rule Id="SA1119" Action="Error" /><!--不应使用无效内容-->
    <Rule Id="SA1122" Action="Error" /><!--使用string.Empty代替空字符串-->
    <Rule Id="SA1124" Action="None" /><!--禁止使用 region-->
    <Rule Id="SA1127" Action="None" /><!--禁止类型或方法声明的泛型约束与声明位于同一行。-->
    <Rule Id="SA1129" Action="None" /><!--禁止使用默认值类型构造函数，例如new FlowCanvas.Flow()-->
    <Rule Id="SA1133" Action="None" /><!--每个注解必须单独一行-->
    <Rule Id="SA1134" Action="Error" /><!--属性不得共享行，例如 [SerializeField] private int MicrophoneIndex;-->
    <Rule Id="SA1137" Action="Error" /><!--元素应具有相同的缩进-->
    <Rule Id="SA1200" Action="None" /><!--using 需要在命名空间中-->
    <Rule Id="SA1201" Action="None" /><!--代理、属性、字段定义不能跟随在方法后面-->
    <Rule Id="SA1202" Action="None" /><!--protect 应该在 private 前面-->
    <Rule Id="SA1203" Action="Error" /><!--静态常量应该在非静态常量之前-->
    <Rule Id="SA1204" Action="None" /><!--静态方法应该在非静态方法之前-->
    <Rule Id="SA1208" Action="None" /><!--using System要在其他 using 前面-->
    <Rule Id="SA1210" Action="Error" /><!--using 没有按字母排序-->
    <Rule Id="SA1214" Action="None" /><!--只读字段必须在非只读字段前-->
    <Rule Id="SA1300" Action="Error" /><!--静态变量量必须以大写字母开头-->
    <Rule Id="SA1303" Action="Error" /><!--静态常量必须以大写字母开头-->
    <Rule Id="SA1306" Action="Error" /><!--私有字段必须以小写字母开头-->
    <Rule Id="SA1307" Action="Error" /><!--公共字段必须以大写字母开头-->
    <Rule Id="SA1309" Action="Error" /><!--字段不能以下划线开头-->
    <Rule Id="SA1311" Action="Error" /><!--只读变量量必须以大写字母开头-->
    <Rule Id="SA1312" Action="Error" /><!--函数内变量量必须以小写字母开头-->
    <Rule Id="SA1313" Action="Error" /><!--参数必须以小写字母开头-->
    <Rule Id="SA1400" Action="None" /><!--必须显示定义元素范围修饰符（不能省略private）-->
    <Rule Id="SA1401" Action="None" /><!--字段必须是私有的-->
    <Rule Id="SA1402" Action="None" /><!--一个文件只能有一个类-->
    <Rule Id="SA1407" Action="None" /><!--算术表达式必须声明优先级，例如 int x = 5 + (y * ((b / 6) % z)) - 2;-->
    <Rule Id="SA1501" Action="None" /><!--包含（）的语句不能在一行上，例如 if(XX) return;-->
    <Rule Id="SA1502" Action="None" /><!--元素不能在同一行，例如 public BgmAudio Bgm { get { return bgmAudio; } }-->
    <Rule Id="SA1503" Action="None" /><!--if后不能省略大括号-->
    <Rule Id="SA1505" Action="Error" /><!--左大括号后不能有空行-->
    <Rule Id="SA1506" Action="Error" /><!--注释和元素之间不能有空行-->
    <Rule Id="SA1507" Action="Error" /><!--存在多个空行-->
    <Rule Id="SA1508" Action="Error" /><!--右大括号前不能有空行-->
    <Rule Id="SA1512" Action="None" /><!--单行注释后面不能跟随空行-->
    <Rule Id="SA1513" Action="Error" /><!--元素、语句或表达式中的右大括号后面必须有空行-->
    <Rule Id="SA1514" Action="Error" /><!--注释前必须有空行-->
    <Rule Id="SA1515" Action="Error" /><!--单行注释前必须有空行-->
    <Rule Id="SA1516" Action="Error" /><!--元素必须以空行分隔-->
    <Rule Id="SA1518" Action="Error" /><!--未在文件末尾正确使用行尾-->
    <Rule Id="SA1519" Action="Error" /><!--多行子语句中不得省略大括号-->
    <Rule Id="SA1600" Action="Error" /><!--元素必须有注释-->
    <Rule Id="SA1602" Action="Error" /><!--枚举项目必须有注释-->
    <Rule Id="SA1606" Action="Error" /><!--注释摘要不能为空-->
    <Rule Id="SA1611" Action="Error" /><!--参数注释不存在-->
    <Rule Id="SA1612" Action="None" /><!--参数注释顺序不对-->
    <Rule Id="SA1614" Action="Error" /><!--注释参数不能为空-->
    <Rule Id="SA1616" Action="Error" /><!--注释返回不能为空-->
    <Rule Id="SA1623" Action="None" /><!--属性摘要文档必须与访问器匹配，必须英文 Gets or sets 开头-->
    <Rule Id="SA1627" Action="Error" /><!--注释例子内容不能为空-->
    <Rule Id="SA1629" Action="None" /><!--元素注释没有以英文句号结束-->
    <Rule Id="SA1633" Action="None" /><!--注释必须以 // 开头，不能使用 /* -->
    <Rule Id="SA1649" Action="Error" /><!--文件名需要和第一个类名相同-->
  </Rules>
</RuleSet>